/* body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    margin-bottom: 20px;
    text-align: center;
}

#connectionStatus {
    margin-bottom: 20px;
}

button {
    padding: 10px 20px;
    background-color: #0084ff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: #0056b3;
} */


.container{
    width: 35%;
    margin: auto;
    padding: 10px;
    top: 50%;
    left: 50%;
    margin-top: 250px;
    border: 5px solid;
   
}